{% extends "base.html.twig" %}

{% block title %}Listes{% endblock %}

{% block body %}

<h1 class="text-center mb-4">Liste des Enseignant/ Eleves</h1>

<p class="text-center mb-4"><a href="{{path('liste_prof')}}">Liste des professeur</a></p>

<p class="text-center mb-4"><a href="{{path('liste_eleve')}}">Liste des eleves</a></p>


{% endblock %}