{% extends 'base.html.twig' %}

{% block title %}Liste des profs{% endblock %}

{% block body %}

<h1 class="text-center mb-4">Liste des Professeurs</h1>

    {% for prof in professeur %}

  <div class="card mb-3 col-4 mx-2 p-2 text-center">
			<div class="no-gutters container">
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title text-center">{{prof.nom}}</h5>
						<p class="card-text text-center">{{prof.prenom}}</p>
						
					</div>
				</div>
			</div>
		</div>
      {% endfor %}

{% endblock %}